<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
		<script type="text/javascript" src="/assets/js/jquery.js"></script>
		<script type="text/javascript" src="/assets/js/main.js"></script>
		<script type="text/javascript">
			//<[CDATA[
			//$(document).ready(function() {
			//	MCD.import('<?php echo $Current_Design->GetJSON(); ?>');
			//});
			//]]>
		</script>
		<title>Minecraft design tool</title>
	</head>
	<body>
		<div id="application_wrapper">
			<h1>Minecraft design tool</h1>
			<div id="design_container">
				<h2>Design</h2>
				<table id="design_table">
					<tbody>
					</tbody>
				</table>
			</div>
			<div id="coords_container">
			 1, 1
			</div>
			<button onclick="MCD.save();">Save design</button>
			<div id="material_container">
				<h2>Material</h2>
				<div id="cur_material_wrapper">
					<div id="cur_material" class="material_1"></div>
					Selected material: <span id="cur_material_code">1</span>
					<div class="clearfix"></div>
				</div>
				<div class="material_wrap"><div class="material_0"></div>0</div>
				<div class="material_wrap"><div class="material_1"></div>1</div>
				<div class="material_wrap"><div class="material_3"></div>3</div>
				<div class="material_wrap"><div class="material_4"></div>4</div>
				<div class="material_wrap"><div class="material_5"></div>5</div>
				<div class="material_wrap"><div class="material_12"></div>12</div>
				<div class="material_wrap"><div class="material_13"></div>13</div>
				<div class="material_wrap"><div class="material_14"></div>14</div>
				<div class="material_wrap"><div class="material_15"></div>15</div>
				<div class="material_wrap"><div class="material_17"></div>17</div>
				<div class="material_wrap"><div class="material_20"></div>20</div>
				<div class="material_wrap"><div class="material_22"></div>22</div>
				<div class="material_wrap"><div class="material_23"></div>23</div>
				<div class="material_wrap"><div class="material_24"></div>24</div>
				<div class="material_wrap"><div class="material_25"></div>25</div>
				<div class="material_wrap"><div class="material_35"></div>35</div>
				<div class="material_wrap"><div class="material_37"></div>37</div>
				<div class="material_wrap"><div class="material_38"></div>38</div>
				<div class="material_wrap"><div class="material_39"></div>39</div>
				<div class="material_wrap"><div class="material_40"></div>40</div>
				<div class="material_wrap"><div class="material_41"></div>41</div>
				<div class="material_wrap"><div class="material_42"></div>42</div>
				<div class="material_wrap"><div class="material_43"></div>43</div>
				<div class="material_wrap"><div class="material_45"></div>45</div>
				<div class="material_wrap"><div class="material_46"></div>46</div>
				<div class="material_wrap"><div class="material_47"></div>47</div>
				<div class="material_wrap"><div class="material_48"></div>48</div>
				<div class="material_wrap"><div class="material_49"></div>49</div>
				<div class="material_wrap"><div class="material_50"></div>50</div>
				<div class="material_wrap"><div class="material_54"></div>54</div>
				<div class="material_wrap"><div class="material_57"></div>57</div>
				<div class="material_wrap"><div class="material_58"></div>58</div>
				<div class="material_wrap"><div class="material_61"></div>61</div>
				<div class="material_wrap"><div class="material_65"></div>65</div>
				<div class="material_wrap"><div class="material_66"></div>66</div>
				<div class="material_wrap"><div class="material_76"></div>76</div>
				<div class="material_wrap"><div class="material_80"></div>80</div>
				<div class="material_wrap"><div class="material_81"></div>81</div>
				<div class="material_wrap"><div class="material_82"></div>82</div>
				<div class="material_wrap"><div class="material_84"></div>84</div>
				<div class="material_wrap"><div class="material_85"></div>85</div>
				<div class="material_wrap"><div class="material_86"></div>86</div>
				<div class="material_wrap"><div class="material_87"></div>87</div>
				<div class="material_wrap"><div class="material_88"></div>88</div>
				<div class="material_wrap"><div class="material_89"></div>89</div>
				<div class="clearfix"></div>
			</div>
			<div id="settings_container">
				<h2>Settings</h2>
				<form id="sizeform" action="." method="post" onsubmit="MCD.settings.setSize();event.preventDefault();">
					<fieldset>
						<label for="setsize_width">Width:</label>
						<input type="text" id="setsize_width" name="setsize_width" value="20" />
						<label for="setsize_width">Height:</label>
						<input type="text" id="setsize_height" name="setsize_height" value="20" />
						<input type="submit" value="Update" />
					</fieldset>
				</form>
				<form id="clearform" action="." method="post" onsubmit="MCD.env.clearAll();event.preventDefault();">
					<fieldset>
						<input type="submit" value="Reset design to selected material" />
					</fieldset>
				</form>
			</div>
			<div id="import_export_container">
				<h2>Import or export to text</h2>
				<form id="import_export_form" action="." method="post" onsubmit="MCD.exportToForm();event.preventDefault();">
					<fieldset>
						<input type="submit" value="Export current design" />
						<textarea name="port_field" id="port_field"></textarea>
						<input type="button" value="Import design" onclick="MCD.importFromForm();" />
					</fieldset>
				</form>
			</div>
		</div>
		<footer>
			<section>
				Made by <a href="http://michd.me">Mich</a>, 2011. Current version: 1.1
			</section>
			<section>
				<a href="http://minecraft.net">Minecraft</a> is made by <a href="http://mojang.com">Mojang</a>. This tool is in no way affiliated with Mojang AB.
			</section>
			<section>
				This tool requires JavaScript to be enabled.
			</section>
		</footer>
	</body>
</html>


