<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Not found - Minecraft design tool</title>
</head>
<body>
  <h1>Not found!</h1>
  <p>
    Sorry, no design with that id (<%= id %>) was found.
    <a href="/">Back to the designer.</a>
  </p>
  <pre>
  <%= err.inspect %>
  </pre>
</body>
</html>
